@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KARALAB</h1>
    <p class="lead">
        Стоматологическая клиника "KaraLab" Хмельницкий предлагает качественные услуги в области протезирования, ортодонии, хирургической стоматологии. Штат опытных специалистов делает кабинет одним из наиболее популярных в городе. Медики имеют в своем распоряжении исключительно современное оборудование западного производства.
    </p>
    <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Начало работы. &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Карабаев Владислав Сергеевич</h2>
        <p>
            Стоматолог проводит осмотр полости рта пациента, выслушивает жалобы, осуществляет лечение, удаление зубов, проводит профилактику и гигиеническую чистку зубов.
            Рабочее время врача-стоматолога проходит в одной и той же позе: либо стоя, либо сидя.
        </p>
        <
    </div>
    <div class="col-md-4">
        <h2>Стоматолог №2</h2>
        <p>Стоматолог проводит осмотр полости рта пациента, выслушивает жалобы, осуществляет лечение, удаление зубов, проводит профилактику и гигиеническую чистку зубов.
        Рабочее время врача-стоматолога проходит в одной и той же позе: либо стоя, либо сидя.</p>
    </div>
    <div class="col-md-4">
        <h2>Список цен</h2>
        <p>Тут вы можете найти список цен на предоставляемые услуги.</p>
        <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Список цен &raquo;</a></p>
    </div>
</div>


